<header>
    <h1>This is the header.</h1>
</header>
<main>
    <!-- RenderBody() is used to place the view within the template -->
    @RenderBody()
</main>
<footer>
    <small>This is the footer.</small>
</footer>