<header>
    <h1>This is the header.</h1>
    <ul>
        <li>@Html.ActionLink("Edit Page", "Edit", "Post", null, new { title = "Go to the edit page." })</li>
    </ul>
</header>
<main>
    <!-- RenderBody() is used to place the view within the template -->
    @RenderBody()
</main>
<footer>
    <small>This is the footer.</small>
</footer>