<!-- _ViewStart.cshtml contains the boilerplate to be used for all views. -->
@* 1. HTMLhelper
   2. TagHelper - requires import refer to _ViewImports.cshtml *@

<article>
    <p>I am in display page.</p>
    @Html.ActionLink("Edit Page", "Edit", "Post", null, new { title="Go to the edit page."});
</article>
