<!-- _ViewStart.cshtml contains the boilerplate to be used for all views. -->

<article>
    <p>I am in display page.</p>
    <table>
        <tr><th>Title</th><td>@ViewBag.title</td></tr>
        <tr><th>Content</th><td>@ViewBag.content</td></tr>
        <tr><th>Posted</th><td>@ViewBag.publishedOn</td></tr>
        <tr><th>Author</th><td>@ViewBag.publishedBy</td></tr>
    </table>
</article>
